/* 页面 */
body {background: #282828;}
/* 选中颜色 */
::selection {background:#9D2222}
/* 链接区域内容 */
.bar {background-color:#505050}
/* 链接特效 */
.link1{color:#3F5768;}
.link2{color:#5E4D31}
.link3{color:#5F3B63}
.link4{color:#446557}
.link1:hover{filter: drop-shadow(0 0 2px #3F5768);transition: all 0.5s}
.link2:hover{filter: drop-shadow(0 0 2px #5E4D31);transition: all 0.5s}
.link3:hover{filter: drop-shadow(0 0 2px #5F3B63);transition: all 0.5s}
.link4:hover{filter: drop-shadow(0 0 2px #446557);transition: all 0.5s}
/* 搜索外框 */
.s-outbox{
    background-color: #505050;
    box-shadow: 0 0px 6px #00000050;
}
/* 搜索内框 */
.keyword{
    color:#999999;
    background-color: #505050;
}
/* 搜索图标特效 */
.s-icon:hover{filter: drop-shadow(0 0 1.5px #bbbbbb)}
/* 引擎图标特效 */
.google-icon:hover{filter: drop-shadow(0 0 1.5px #9D2222) brightness(120%)}
.baidu-icon:hover{filter: drop-shadow(0 0 1.5px #9D2222) brightness(120%)}
.bing-icon:hover{filter: drop-shadow(0 0 1.5px #9D2222) brightness(120%)}
/* 书签区域项目属性 */
.fav-grid > div {
    background: #505050;
    box-shadow: 0 0px 6px #00000050;
}
/* 书签项目名称 */
.fav-name{color:#999999;}
/* 页尾区域 */
.end {color:#505050;}