/* 全局 */

    /* 页面主体 */
    body {
        display: flex;
        justify-content: center;
        align-items:center;
        min-height: 100vh;
        margin: 0;
        background: #fafafa;
        overflow: hidden;
        font-family:'Questrial',sans-serif;
    }

    /* 字体 */
    @font-face { 
        font-family: 'Questrial';  
        src: url('./Questrial.ttf') format('truetype'); 
    } 
    
    /* 标准化兼容 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-input-placeholder {
        color: #dddddd;
    }

    /* 取消文本下划线 */
    a {
        text-decoration:none
    }

    /* 选中颜色 */
    ::selection {
        background:#e6e6e6; 
    }

    /* 滚动条样式 */
    ::-webkit-scrollbar {
        width: 10px;
        height: 0px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #dedede;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #fdfdfd;
    }

    
/* 头部 */

    /* LOGO */
    .logo{
        position:absolute; 
        left:50%; 
        top:15%;         
        width:188px; 
        height:60px;   
        border:0px;   
        transform: translate(-50%);
        user-select:none;
    }

    /* 链接区 */
    .linkbox{
        width: 250px;
        height: 80px;
        outline-style:none;
        border: 0px;
        position: absolute;
        right: 100px;
        top: 30px;
        user-select:none;
    }
        /* 链接 */
        .link{
            position:absolute; 
            top:0%; 
            color:#aaaaaa;      
            font-size:35px;
            transition: all 0.5s;
        }
        .link1{
            color:#b0ccdf;
            left:0%;
        }
        .link2{
            color:#d7cbb6; 
            left:52%;
        }
        .link3{
            color:#d4b6d7; 
            left:100%;
        }
        /* 链接特效 */
        .link1:hover{
            filter: drop-shadow(0 0 2px #b0ccdf);
        }
        .link2:hover{ 
            filter: drop-shadow(0 0 2px #d7cbb6);
        }
        .link3:hover{
            filter: drop-shadow(0 0 2px #d4b6d7);
        }
        /* 分隔线 */
        .bar{
            position:absolute; 
            background-color:#aaaaaa;  
            border-radius: 3px;
        }
        .bar1{
            width:3px;
            height:20px;
            left:41%; 
            top:10%; 
        }
        .bar2{
            width:3px;
            height:20px;
            left:89%; 
            top:10%; 
        }

/* 中部 */

    /* 搜索框 */
    .searchbox{
        width: 700px;
        height: 65px;
        background-color:#ffffff;
        border: 0px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%);
        box-shadow: 0px 0px 7px 3px #dddddd;
    }

    /* 输入框 */
    .keyword{
        width: 600px;
        height: 60px;
        outline-style:none;
        font-size:150%;
        font-family: 'Questrial'; 
        color:#aaaaaa;
        border: 0px;
        position: relative;
        left: 47%;
        top: 2px;
        transform: translate(-50%);
    }
    /* 图标栏 */
    .switchbar{
        width: 750px;
        height: 40px;
        border: 0px;
        position: relative;
        left: 50%;
        top: 15px;
        transform: translate(-50%);
    }
    /* 图标 */
    .icon{
        transform: translate(-50%);
        cursor: pointer;
        transition: all 0.5s;

        user-select:none;
    }
    .icon:hover{
        filter: drop-shadow(0 0 5px #f48181);
    }
    .searchicon{
        position:relative; 
        width: 31px;
        height: 31px;
        z-index:1;
        left:95%; 
        bottom:45px;
    }
    .baiduicon{
        position:absolute; 
        width: 32px;
        height: 32px;
        left:50%; 
        top:0%;         
    }
    .googleicon{
        position:absolute; 
        width: 32px;
        height: 32px;
        left:35%; 
        top:0%;               
    }
    .bingicon{
        position:absolute; 
        width: 32px;
        height: 32px;
        left:65%; 
        top:0%;            
    }
    /* 面板 */
    .bookmarklist{
        display: grid;
        grid-column-gap: 48px;
        grid-row-gap: 48px;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        position:absolute; 
        width: 100%;
        height: 500px;
        left:50%; 
        top:200px; 
        transform: translate(-50%);
        user-select:none;        
    }
    .item{
        width: 100%;
        height: 100%;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0,0,0,0.2);
        border-radius: 7px;
        text-align: center;
        position:relative;
        cursor: pointer;
    }
    .item:hover{
        filter: brightness(90%) ;
    }
    .item:active{
        filter: brightness(70%) ;
    }
    .itemname{
        width: 100%;
        bottom:-24px;
        font-size:14px;  
        color:#aaaaaa;
        position:absolute;   
        justify-content: center;
    }
    .listicon {
        width: 60%;
        height: 60%;
        position:absolute;
        display: block;
        top: 50%;            
        left: 50%;            
        transform: translate(-50%, -50%);        
    }

    /* 底部随机句子 */
    .end{
        width: 100%;
        height: 58px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0px;
        color:#bbbbbb;      
        font-size:24px;
        text-align:center;
        user-select:none;
    }