/* 全局 */

    /* 页面 */
    body {
        display: flex;
        justify-content: center;
        align-items:center;
        min-height: 100vh;
        margin: 0;
        background: #fafafa;
        overflow: hidden;
        font-family:'Questrial',sans-serif;
        user-select:none;
    }

    /* 字体 */
    @font-face { 
        font-family: 'Questrial';  
        src: url('./Questrial.ttf') format('truetype'); 
    } 
    
    /* 标准化兼容 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* 输入框预置文本颜色 */
    ::-webkit-input-placeholder {
        color: #dddddd;
    }

    /* 取消文本下划线 */
    a {
        text-decoration:none
    }

    /* 选中颜色 */
    ::selection {
        background:#e6e6e6; 
    }

    /* 滚动条样式 */
    ::-webkit-scrollbar {
        width: 10px;
        height: 0px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #dedede;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #fdfdfd;
    }

    
/* 主体 */

    /* LOGO */
    .logo{
        position:absolute; 
        left:50%; 
        top:-100px;         
        width:188px; 
        height:60px;   
        border:0px;   
        transform: translate(-50%);
    }

    /* 搜索框 */
    .searchbox{
        width: 600px;
        height: 55px;
        background-color:#ffffff;
        border: 0px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%);
        box-shadow: 0px 0px 7px 3px #dddddd;
    }

    /* 输入框 */
    .keyword{
        width: 500px;
        height: 50px;
        outline-style:none;
        font-size:150%;
        font-family: 'Questrial'; 
        color:#aaaaaa;
        border: 0px;
        position: relative;
        left: 46%;
        top: 2px;
        transform: translate(-50%);
    }
    
    /* 搜索图标 */
    .searchicon{
        position:relative; 
        width: 28px;
        height: 28px;
        left:95%; 
        bottom:67%;
        transform: translate(-50%);
        cursor: pointer;
        transition: all 0.5s;
    }
    .searchicon:hover{
        filter: drop-shadow(0 0 5px #f48181);
    }

    /* Grid */
    .box{
        display: grid;
        justify-items: center;
        align-items: center;
        position:absolute; 
        transform: translate(-50%);      
    }
    /* 引擎Grid */
    .iconbox{
        grid-template-columns: repeat(3, 1fr);
        width: 55%;
        height: 48px;
        left:50%; 
        top:75px; 
    }
    /* 书签Grid */
    .favbox{
        grid-column-gap: 48px;
        grid-row-gap: 48px;
        grid-template-columns: repeat(9, 1fr);
        width: 150%;
        height: 250px;
        left:50%; 
        top:150px; 
    }

    /* Grid项目 */
    .item{
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background: #ffffff;
        box-shadow: 0 0px 10px rgba(0,0,0,0.2);
        border-radius: 7px;
        text-align: center;
        position:relative;
        cursor: pointer;
    }

    /* Grid项目特效 */
    .item:hover{
        filter: brightness(90%) ;
    }
    .item:active{
        filter: brightness(70%) ;
    }

    /* Grid项目名称 */
    .itemname{
        width: 100%;
        bottom:-24px;
        font-size:14px;  
        color:#aaaaaa;
        position:absolute;   
        justify-content: center;
    }

    /* 引擎Grid项目 */
    .iconitem{
        width: 100%;
        height: 100%;
        text-align: center;
        position:relative;
    }

    /* Grid图标 */
    .itemicon {
        width: 60%;
        height: 60%;
        position:absolute;
        display: block;
        top: 50%;            
        left: 50%;            
        transform: translate(-50%, -50%);   
        cursor: pointer;
    }

    /* 底部 */
    .end{
        width: 100%;
        height: 58px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0px;
        color:#bbbbbb;      
        font-size:24px;
        text-align:center;
    }